<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link href='../../static/packages/core/main.css' rel='stylesheet' />
    <link href='../../static/packages/daygrid/main.css' rel='stylesheet' />
    <link href='../../static/packages/timegrid/main.css' rel='stylesheet'/>
    <link href='../../static/packages/list/main.css' rel='stylesheet' />
    <script src='../../static/packages/core/main.js'></script>
    <script src='../../static/packages/interaction/main.js'></script>
    <script src='../../static/packages/daygrid/main.js'></script>
    <script src='../../static/packages/timegrid/main.js'></script>
    <script src='../../static/packages/list/main.js'></script>
    
    
    
    
    
    
    
    
    
    <script>

    document.addEventListener('DOMContentLoaded', function() {

      var datedebut = document.getElementById("dated").innerHTML;
      document.getElementById("dated").innerHTML="";



      var deb = datedebut.replace("[","");
      deb = deb.replace("]","");
      deb = deb.split(",");

      

      var datefin = document.getElementById("datef").innerHTML;
      document.getElementById("datef").innerHTML="";

      var fin = datefin.replace("[","");
      fin = fin.replace("]","");
      fin = fin.split(",");

      


      var calendarEl = document.getElementById('calendar');

      function ll(elem1,elem2){
        elem1 = elem1.substring(1,11);
        elem2 = elem2.substring(1,11);

        

        return{

          start : elem1,
          end : elem2,
          overlap: false,
          rendering: 'background',
          color: '#ff9f89'
        };
      };

      function jj(elem1,elem2){
        elem1 = elem1.substring(2,12);
        elem2 = elem2.substring(2,12);

        return{

          start : elem1,
          end : elem2,
          overlap: false,
          rendering: 'background',
          color: '#ff9f89'
        };
      };

      var calendarEl = document.getElementById('calendar');

      var final = []
      for (var i = 0; i < fin.length; i++) {
        if (i == 0) {
          final.push((ll(deb[i],fin[i])))
        }
        else{
          final.push((jj(deb[i],fin[i])))
        }
        
      }

      final = JSON.stringify(final)

      //document.getElementById("demo").innerHTML = JSON.stringify(final);
         
      var calendar = new FullCalendar.Calendar(calendarEl, {

        plugins: [ 'interaction', 'dayGrid','list' ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        defaultDate: '2019-05-12',
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        events: 

          
          //{"start": "2019-04-06","end": "2019-04-08","overlap": false,"rendering": "background","color": '#ff9f89'},
          //for (var i = 0; i < deb.length; i++) {
          JSON.parse(final)
          //}
         
        
      });
    

      calendar.render();
    });

  </script>
<style>



  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
  	float:left;
    width:50%;
  }

  .titre
  {
  	margin-top: 100px;
  	margin-left:60%; 
  	width: 6em;
  }

  

</style>
</head>
<body>


	<h1>Réservation de {{nom}}</h1><br>
  <div>
  <p id="dated">{{liste}}<p>
  <p id="datef">{{liste2}}</p>
  </div>

 
  <p id="demo"></p>


  <div id='calendar'></div>

 
 
 <div class="titre">
  <form class="titre2" style="background-color:#ffffff;font-size:14px;font-family:'MS Sans Serif',Geneva,sans-serif;color:#000000;max-width:480px;min-width:150px" action = "http://localhost:5000/resa" method = "POST">


    <fieldset>
         <legend>Réservation</legend>

         <p>Votre nom <input type = "text" name = "nomUtilisateur" value="{{name}}"/></p>
         <p>Nom cheval <input type = "text" name = "nom" value={{nom}}></p>
         <p>Date début <input type ="date" name = "dd" /></p>
         <p>Date fin <input type ="date" name = "df" /></p>
    
         <p>
       		<label for="pre">Quel prestation souhaitez - vous ?</label><br />
       		<select name="pre" id="pre">
          	 <option value="randonnée">Randonnée -- 250€/j</option>
          	 <option value="mariage">Mariage -- 300€/j</option>
           	 <option value="mariage + calèche">Mariage + calèche -- 400€/j</option>
           	 <option value="anniversaire">Anniversaire -- 200€/j</option>
       		</select>
       	<legend>Vous retrouverez votre commande dans votre panier !</legend>
   </p>
         <input type = "submit" value = "Ajouter au panier">
    </fieldset>
        
  </form>
     
         
<button><a href="../panier" style = "text-decoration:none; color:black" class="btn btn-default btn-lg btn-block text-center"><span class = "text-black">Voir mon panier</span></a></button>
  </div>

 <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="../../static/js/vendor/bootstrap.min.js"></script>			
        <script type="../../static/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="../../static/js/easing.min.js"></script>			
        <script src="../../static/js/hoverIntent.js"></script>
        <script src="../../static/js/superfish.min.js"></script>	
        <script src="../../static/js/jquery.ajaxchimp.min.js"></script>
        <script src="../../static/js/jquery.magnific-popup.min.js"></script>	
        <script src="../../static/js/owl.carousel.min.js"></script>			
        <script src="../../static/js/jquery.sticky.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>				
        <script src="../../static/js/jquery.nice-select.min.js"></script>			
        <script src="../../static/js/parallax.min.js"></script>	
        <script src="../../static/js/waypoints.min.js"></script>
        <script src="../../static/js/jquery.counterup.min.js"></script>			
        <script src="../../static/js/mail-script.js"></script>	
        <script src="../../static/js/main.js"></script>
</body>
</html>
