<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="static/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Centre équestre Cyclone</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700')}}">
        <!--
     CSS
     ============================================= -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}">
    </head>
    <body>
        <header id="header" id="home">
            <div class="container">
                <div class="row header-top align-items-center">
                    <div class="col-lg-4 col-sm-4 menu-top-left">
                        <a href="mailto:info@cyclone.fr"><span class="lnr lnr-location"></span></a>
                        <a class="tel" href="mailto:info@cyclone.fr">info@cyclone.fr</a>
                    </div>
                    <div class="col-lg-4 menu-top-middle justify-content-center d-flex">
                        <a href="accueil.html">
                            <img class="img-fluid" src="static/img/logo.png" alt="">	
                        </a>			    			
                    </div>
                    <div class="col-lg-4 col-sm-4 menu-top-right">
                        <a class="tel" href="tel:+880 123 12 658 439"> 01 23 45 67 89</a>
                        <a href="tel:+880 123 12 658 439"><span class="lnr lnr-phone-handset"></span></a>
                    </div>
                </div>
            </div>	
            <hr>

            
            {%if session['nom'] == 'Le Mouël Frédéric'%}
            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="/">Accueil</a></li>			          
                            <li><a href="/presentation">Présentation</a></li>
                            <li><a href="/activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li><a href="contact">Contact</a></li>
                           <li><a href="espaceclient"> Bonjour {{session['nom']}}! </a>
                            <ul class="nav-menu">
                                <li> <a href='espaceclient'> Espace client </a> </li>
                                <li> <a href='rapport'> Rapport Web </a></li>
                                <li> <a href='logout'> Se déconnecter </a> </li>
                            </ul>
                                
                                </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>

            
            {%elif session['logged'] == True%}

            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="/">Accueil</a></li>			          
                            <li><a href="presentation">Présentation</a></li>
                            <li><a href="activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="espaceclient"> Bonjour {{session['nom']}}! </a>
                            <ul class="nav-menu">
                                <li> <a href='espaceclient'> Espace client </a> </li>
                                <li> <a href='logout'> Se déconnecter </a> </li>
                            </ul>
                                
                                </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>


            {%else%}

            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="/">Accueil</a></li>			          
                            <li><a href="/presentation">Présentation</a></li>
                            <li><a href="/activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="espaceclient">Espace client</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>


            {%endif%}




        </header><!-- #header -->

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">				
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-12">
                        <span class="bar"></span>
                        <h1 class="text-white">
                            Bienvenue  <br>
                            au Centre équestre Cyclone!
                        </h1>
                        <a href="presentation" class="genric-btn">Découvrez notre centre équestre</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- Start home-about Area -->
        <section class="home-about-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 home-about-left">
                        <img class="mx-auto d-block img-fluid" src="static/img/about-img.png" alt="">
                    </div>
                    <div class="col-lg-6 home-about-right">
                        <h1> Qui sommes-nous?  <br></h1>
                        <p>
                            <span>Ouvert depuis 2005, le Centre Equestre Cyclone a toujours eu à cœur de proposer une ambiance familiale et conviviale.</span>

                        </p>
                        <p>
                            Que vous soyez enfant, adulte, débutant, confirmé, que vous recherchiez du loisir, de l’apprentissage ou de la compétition, nous saurons répondre à vos attentes.

                            Notre équipe : Rémi (BPJEPS), Agathe (élève monitrice), Hind (monitrice suppléante), Jean (gérant et grand passionné d'équidés).

                            Notre devise : diversité, découverte, sécurité, qualité et partage vous attendent.	</p>
                        <a class="primary-btn" href="activites">Découvrez nos services</a>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End home-about Area -->



        <!-- Start feature Area -->
        <section class="feature-area relative pt-100 pb-20">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <a href="activites"><h4 class="text-white">Cours</h4></a>
                            <p>
                                Des cours Baby, des cours enfants ou ado de différents niveaux, des cours adultes débutants et confirmés.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <a href="activites"><h4 class="text-white">Pension</h4></a>
                            <p>
                                Nous accueillons votre équidé en pension dans une structure de qualité : grande carrière, plusieurs paddocks à dispositions.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <a href="activites"><h4 class="text-white">Ecurie de sport</h4></a>
                            <p>
                                Poneys / Chevaux de sport
                                Location, préparation aux concours.                         </p>
                        </div>
                    </div>	
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <a href="activites"><h4 class="text-white">Loisirs</h4></a>
                            <p>
                                Ballades, animations, cours de passage.
                            </p>
                        </div>
                    </div>																	
                </div>
            </div>	
        </section>
        <!-- End feature Area -->




        <!-- Start latest-blog Area -->
        <section class="latest-blog-area section-gap" id="blog">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Dernières actualités</h1>
                            {%if mail=="admin@admin.com"%}
                                <input type="button" name="lien1" value="ajouter une actualité" onclick="self.location.href='ajouterActualite'" style="background-color:##FEFEFE" style="color:white; font-weight:white"onclick>
                                <input type="button" name="lien1" value="supprimer une actualité" onclick="self.location.href='supprimerActualite'" style="background-color:##FEFEFE" style="color:white; font-weight:white"onclick>
                                <input type="button" name="lien1" value="modifier une actualité" onclick="self.location.href='modifierActualite'" style="background-color:##FEFEFE" style="color:white; font-weight:white"onclick>
                                                                      {%else%}
                                                                      {%endif%}
                            <p></p>
                        </div>
                    </div>
                </div>					
                <div class="row">
                    <!-- Ajout dynamique actualités -->
                    {%for i in liste2%}
                    <div class="col-lg-6 single-blog">
                        <img class="img-fluid" src={{i[3]}} alt="">
                        <ul class="tags">
                            <li style="color: black">Evénements</li>
                        </ul>
                        <h4>{{ i[0]}} : {{ i[1]}}</h4>
                        <p>
                          {{ i[2]}}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>
        <!-- End latest-blog Area -->

        <!-- Start booking Area -->
        <section class="booking-area section-gap relative" id="consultancy">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-6 booking-left">
                        <div class="active-review-carusel">
                            <div class="single-carusel">
                                <img src="static/img/r1.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Julie Sarlanda</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p>
                                    Je suis cavalière au centre équestre Cyclone depuis un an et demi. Grâce à une excellente équipe, j’ai pu redécouvrir les joies de l’équitation ! J’ai repris confiance avec les chevaux et en moi ! Sarah, Emilie et les autres enseignants m’ont permis de progresser et toute l’équipe du tornado est proche de ses cavaliers, qu’ils soient adeptes de compétition ou qu'ils préfèrent l’équitation de loisirs. Mais il y a une chose qui me permet de dire que le tornado est un excellent centre : on m’a permis de rencontrer mon cheval approprié à mon caractère. J’ai acquis Valseur, un super poney D que je montais de temps en temps et avec lequel j’ai instauré un climat de confiance. Merci à toute l’équipe et rejoignez-nous au centre !</p>
                                <img src="static/img/r2.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Jean Farouil</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p>
                                    Cyclone est un des meilleurs centres équestres de Lyon. J'ai loué un cheval pour la journée et j'ai beaucoup apprécié la balade. D'autant plus que les prix sont très raisonnables, et il y a vraiment du choix (ils ont même des poney rose)! Merci encore!        </p>


                            </div>
                            <div class="single-carusel">
                                <img src="static/img/r1.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Hind Amhache</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p> Grâce à Cyclone, je dépose chaque weekend mon fils pour suivre ses cours 
                                    d'équitation et apprendre à s'occuper des chevaux. Cyclone a éveillé en lui de la tendresse et lui a appris le sens de
                                    la responsabilité. De plus, c'est vraiment rassurant car je sais qu'il est entre de bonnes mains. 
                                    L'équipe Cyclone est très compétente et accueille chaleureusement ses clients!

                                </p>
                                <img src="static/img/r2.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Rémi Arlanda</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p>
                                    Ma petite fille est entièrement satisfaite des services de Cyclone! L'équipe est très accueillante et professionnelle, les chevaux sont adorables.       </p>									
                            </div>
                            <div class="single-carusel">
                                <img src="static/img/r1.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Agathe Bernet-Rollande</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p>
                                    J'ai acheté deux très beaux chevaux en bonne santé du site web de Cyclone. C'est un beau centre équestre avec des services variés associés à des prix corrects.
                                    Leur site web est très complets et m'a permis de choisir les chevaux et de réaliser l'achat depuis chez moi.
                                </p>
                                <img src="static/img/r2.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>Rémi Pirlanda</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p>
                                    Service satisfaisant, personnel compétent. Les cours sont sympathiques. 
                                </p>

                            </div>	
                            <!-- Ajout dynamique des témoignages -->

                            <div class="single-carusel">
                                {%for i in liste%}
                                <img src="static/img/r1.png" alt="">
                                <div class="title justify-content-start d-flex">
                                    <h4>{{ i[0] }}</h4>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p>
                                    {{ i[1] }}
                                </p>
                                <img src="static/img/r2.png" alt="">
                                {%endfor%}
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 booking-right">
                        <h4 class="mb-20">Laissez un témoignage</h4>
                        <form action="#">
                            <input class="form-control" type="text" name="name" placeholder="nom et prénom" required>
                            <input class="form-control" type="email" name="email" placeholder="adresse mail" required>
                            <input class="form-control" type="text" name="phone" placeholder="portable" required>

                            <textarea class="common-textarea form-control mt-10" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre message'"></textarea>
                            <button  class="btn btn-default btn-lg btn-block text-center">Soumettre</button>
                        </form>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End booking Area -->



        <!-- Start gallery Area -->
        <section class="gallery-area">
            <div class="container-fluid">
                <div class="row no-padding">
                    <div class="active-gallery">
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g1.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>	
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g2.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>	
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g3.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>	
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g4.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>	
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g5.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>	
                        <div class="item single-gallery">
                            <div class="thumb">
                                <img src="static/img/g6.jpg" alt="">
                                <div class="align-items-center justify-content-center d-flex">
                                </div>
                            </div>
                        </div>								

                    </div>
                </div>
            </div>	
        </section>
        <!-- End gallery Area -->

        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>A propos</h4>
                            <p>
                                © 2019	Centre Equestre Cyclone <br> Centre équestre – Poney club <br> Mentions légales
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Contactez-nous</h4>
                            <p>
                                Notre équipe sera ravie de vous accueillir!  <br>
                                Adresse: HAMEAU DE CHARNESSEUIL - 77750 SAINT CYR SUR MORIN <br>
                                Mail: info@cyclone.fr
                            </p>

                            <p class="number">
                                Tél: 01 23 45 67 89 <br>
                            </p>
                        </div>
                    </div>						
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Newsletter</h4>
                            <p>Suivez nos actualités en nous renseignant votre adresse mail.</p>
                            <div class="d-flex flex-row">
                                <form class="navbar-form" action="newsletter" method="POST">
                                    <div class="input-group add-on align-items-center d-flex">
                                        <input class="form-control" name="email" placeholder="Adresse mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adresse mail'" required="" type="email">
                                        
                                        <div class="input-group-btn">
                                            <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                        </div>
                                    </div>
                                    <div class="info mt-20"></div>									    
                                </form>
                            </div>
                        </div>
                    </div>						
                </div>
                <div class="footer-bottom row">
                    <p class="footer-text m-0 col-lg-6 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="footer-social col-lg-6 col-md-12">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>	
        <!-- End footer Area -->

        <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>			
        <script type="static/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="static/js/easing.min.js"></script>			
        <script src="static/js/hoverIntent.js"></script>
        <script src="static/js/superfish.min.js"></script>	
        <script src="static/js/jquery.ajaxchimp.min.js"></script>
        <script src="static/js/jquery.magnific-popup.min.js"></script>	
        <script src="static/js/owl.carousel.min.js"></script>			
        <script src="static/js/jquery.sticky.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>				
        <script src="static/js/jquery.nice-select.min.js"></script>			
        <script src="static/js/parallax.min.js"></script>	
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>			
        <script src="static/js/mail-script.js"></script>	
        <script src="static/js/main.js"></script>
    </body>
</html>
