<html>
   <body>
      <form action = "http://localhost:5000/ajoute" method = "POST">
         <p>Nom cheval <input type = "text" name = "nom" /></p>
         <p>Age <input type = "integer" name = "age" /></p>
         <p>Race <input type ="text" name = "race" /></p>
         <p>Type <input type ="text" name = "typ" /></p>
         <p>Description <input type ="text" name = "des" /></p>
         <p>Photo <input type ="text" name = "img" /></p>
         <p><input type = "submit" value = "Ajouter" /></p>
      </form>
   </body>
</html>
