	<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="static/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Contact</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700')}}">
        <!--
     CSS
     ============================================= -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}">
    </head>
    <body>
        <header id="header" id="home">
            <div class="container">
                <div class="row header-top align-items-center">
                    <div class="col-lg-4 col-sm-4 menu-top-left">
                        <a href="mailto:info@cyclone.fr"><span class="lnr lnr-location"></span></a>
                        <a class="tel" href="mailto:info@cyclone.fr">info@cyclone.fr</a>
                    </div>
                    <div class="col-lg-4 menu-top-middle justify-content-center d-flex">
                        <a href="accueil.html">
                            <img class="img-fluid" src="static/img/logo.png" alt="">	
                        </a>			    			
                    </div>
                    <div class="col-lg-4 col-sm-4 menu-top-right">
                        <a class="tel" href="tel:+880 123 12 658 439"> 01 23 45 67 89</a>
                        <a href="tel:+880 123 12 658 439"><span class="lnr lnr-phone-handset"></span></a>
                    </div>
                </div>
            </div>	
            <hr>

            
            {%if session['nom'] == 'Le Mouël Frédéric'%}
            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="/">Accueil</a></li>			          
                            <li><a href="/presentation">Présentation</a></li>
                            <li><a href="/activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li class="menu-active"><a href="contact">Contact</a></li>
                           <li><a href="espaceclient"> Bonjour {{session['nom']}}! </a>
                            <ul class="nav-menu">
                                <li> <a href='espaceclient'> Espace client </a> </li>
                                <li> <a href='panier'> Mon panier </a> </li>
                                <li> <a href='rapport'> Rapport Web </a></li>
                                <li> <a href='logout'> Se déconnecter </a> </li>
                            </ul>
                                
                                </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>

            
            {%elif session['logged'] == True%}

            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="/">Accueil</a></li>			          
                            <li><a href="presentation">Présentation</a></li>
                            <li><a href="activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li class="menu-active"><a href="contact">Contact</a></li>
                            <li><a href="espaceclient"> Bonjour {{session['nom']}}! </a>
                            <ul class="nav-menu">
                                <li> <a href='espaceclient'> Espace client </a> </li>
                                <li> <a href='panier'> Mon panier </a> </li>
                                <li> <a href='logout'> Se déconnecter </a> </li>
                            </ul>
                                
                                </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>


            {%else%}

            <div class="container">	
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="/">Accueil</a></li>			          
                            <li><a href="/presentation">Présentation</a></li>
                            <li><a href="/activites">Nos prestations</a></li>
                            <li><a href="achat">Acheter/louer un cheval</a></li>
                            <li class="menu-active"><a href="contact">Contact</a></li>
                            <li><a href="espaceclient">Espace client</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
            {%endif%}
        </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Contactez-nous
							</h1>	
							<p class="text-white link-nav"><a href="accueil"> Accueil </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact"> Contactez nous</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11281.186109610328!2d5.387161060094966!3d45.01890565642409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478a8abe240da813%3A0x27c8da168809aeb8!2s377+Chemin+de+la+L%C3%A9ch%C3%A8re%2C+38320+Bri%C3%A9-et-Angonnes!5e0!3m2!1sfr!2sfr!4v1558466233341!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

						<div class="col-lg-4 d-flex flex-column address-wrap"
                                                     style = "position : relative; top:80px">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>Brié et Angonnes, France</h5>
									<p>377 Chemin de la Lechere</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">

									<h5>01 23 45 67 89</h5>
									<p>Mardi au vendredi de 11h à 18h </p>
									<p>Samedi et Dimanche de 9h à 18h</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>info@cyclone.com</h5>
									<p>N'hésitez pas à nous contacter !</p>
								</div>
							</div>														
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>A propos</h4>
								<p>
									© 2019	Centre Equestre Tornado 
Centre équestre – Poney club 
Mentions légales
								</p>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Contactez-nous</h4>
								<p>
									Notre équipe sera ravie de vous accueillir! 
Adresse: 377, Chemin de la Lechere, Brié et Angonnes
Mail: info@cyclone.fr
								</p>
								<p class="number">
									01 23 45 67 89 <br>
									
								</p>
							</div>
						</div>						
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Newsletter</h4>
								<p>Suivez nos actualités en nous renseignant votre adresse mail.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">


									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on align-items-center d-flex">
									      	<input class="form-control" name="EMAIL" placeholder="Adresse email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adresse email'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>
								</div>
							</div>
						</div>						
					</div>
					<div class="footer-bottom row">
						<p class="footer-text m-0 col-lg-6 col-md-12">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
						<div class="footer-social col-lg-6 col-md-12">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->

			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="static/js/easing.min.js"></script>			
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>	
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>	
			<script src="static/js/owl.carousel.min.js"></script>			
			<script src="static/js/jquery.sticky.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>				
			<script src="static/js/jquery.nice-select.min.js"></script>			
			<script src="static/js/parallax.min.js"></script>	
			<script src="static/js/waypoints.min.js"></script>
			<script src="static/js/jquery.counterup.min.js"></script>			
			<script src="static/js/mail-script.js"></script>	
			<script src="static/js/main.js"></script>	
		</body>
	</html>


