<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Rapport WEB </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1 style="text-align: center;">Rapport Web</h1></div>

        <div><h2>I] Présentation</h2></div>
        <p align="justify">Introduction sur ce que l'on veut faire et fonctionnalités</p>

        <div><h2>II] Language Back-End/Front-End</h2></div>
        <p align="justify">Flask pour le serveur<br>MySQL pour la base de données<br>SQLAlchemy pour communiquer<br>HTML/CSS</p>

        <div><h2>II] Dynamicité</h2></div>
        <p align="justify">Affichage dynamique (calendrier, gestion dans html de l'utilisateur, ajout depuis base dans html)</p>

        <div><h2>IV] Gestion de projet</h2></div>
        <p align="justify">Angle d'approche<br>Répartition du travail<br>Mise en commun/GitHub</p>

    </body>
</html>
